<!DOCTYPE html 
     PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<?xml version="1.0" encoding="iso-8859-1"?>

<html>
<head>
	<title>Mininews Template</title>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

	<style type="text/css">
		/*<![CDATA[*/
			/* These styles are ONLY for display here in the template. Just ignore them when mapping! */
			H2.sectionContainer { border: dotted 1px #666666; margin: 30px 0px 0px 0px; background-color: #9999CC; }
			DIV.sectionContainer { border: dotted 1px #666666; margin: 0px 0px 0px 0px; }
			BODY { font-family: verdana; font-size: 12px; }
		/*]]>*/
	</style>
	<style type="text/css">
		/*<![CDATA[*/
			/* These styles are the BASIC mininews styles. The rest is in the stylesheet below. Map this section and the stylesheet in TO objects. */
	
			P.tx-mininews-pi1-listrowField-datetime, P.tx-mininews-pi1-singleViewField-datetime, P.tx-mininews-pi1-fp_listrowField-datetime { background-color: #cceeff; }
		/*]]>*/
	</style>
	<link href="mininews_stylesheet.css" rel="stylesheet" type="text/css" />
</head>
<body>




	<h1>Mininews Template</h1>
	<p>This document is an example template for the extension "mininews". You can copy and then customize this document to fit your own design, then afterward map a TemplaVoila Template Object to fit the contents.</p>
	<p>The document is divided into three sections, each representing a specific view in "mininews"</p>

	<div class="tx-mininews-pi1">






		<!--
			ARCHIVE LISTING:
		-->
		<h2 class="sectionContainer">Archive listing</h2>
		<div class="sectionContainer">
		
				<h2>Mininews Archive:</h2>
				<!--
					Archive listing of mininews:
				-->
					<div class="tx-mininews-pi1-listrow" style="margin-top: 5px;">
						<p class="tx-mininews-pi1-listrowField-datetime">29-12-03 18:15</p>
						<p class="tx-mininews-pi1-listrowField-title"><a href="#">The first human being on the surface of Mars!</a></p>
						<p class="tx-mininews-pi1-listrowField-teaser"><a href="#">4am the first man set his foot on the planet Mars some million kilometers from Earth...</a></p>
					</div>
					<div class="tx-mininews-pi1-listrow" style="margin-top: 5px;">
						<p class="tx-mininews-pi1-listrowField-datetime">29-12-03 18:15</p>
						<p class="tx-mininews-pi1-listrowField-title"><a href="#">The first human being on the surface of Mars!</a></p>
						<p class="tx-mininews-pi1-listrowField-teaser"><a href="#">4am the first man set his foot on the planet Mars some million kilometers from Earth...</a></p>
					</div>
					<div class="tx-mininews-pi1-listrow" style="margin-top: 5px;">
						<p class="tx-mininews-pi1-listrowField-datetime">29-12-03 18:15</p>
						<p class="tx-mininews-pi1-listrowField-title"><a href="#">The first human being on the surface of Mars!</a></p>
						<p class="tx-mininews-pi1-listrowField-teaser"><a href="#">4am the first man set his foot on the planet Mars some million kilometers from Earth...</a></p>
					</div>								
				
				
				<!--
					List search box:
				-->	
				<div class="tx-mininews-pi1-searchbox">
					<form action="/typo3/32/dummy/index.php?id=28" method="post" style="margin: 0 0 0 0;">
					<table>
						<tr>
							<td><input type="text" name="tx_mininews_pi1[sword]" value="" class="tx-mininews-pi1-searchbox-sword" /></td>
		
							<td><input type="submit" value="Search" class="tx-mininews-pi1-searchbox-button" /><input type="hidden" name="no_cache" value="1" /></td>
						</tr>
					</table>
					</form>
				</div>
				
				<!--
					List browsing box:
				-->	
				<div class="tx-mininews-pi1-browsebox">
					<p>Displaying results <span class="tx-mininews-pi1-browsebox-strong">1 to 1</span> out of <span class="tx-mininews-pi1-browsebox-strong">1</span></p>
					<table>
						<tr>
							<td class="tx-mininews-pi1-browsebox-SCell" nowrap="nowrap"><p><a href="#">Page 1</a></p></td>
							<td class="tx-mininews-pi1-browsebox-Cell" nowrap="nowrap"><p><a href="#">Page 2</a></p></td>
							<td class="tx-mininews-pi1-browsebox-Cell" nowrap="nowrap"><p><a href="#">Page 3</a></p></td>
							<td class="tx-mininews-pi1-browsebox-Cell" nowrap="nowrap"><p><a href="#">Page 4</a></p></td>
						</tr>
					</table>
				</div>
		
		</div>

		
		
		<!--
			SINGLE DISPLAY
		-->
		<h2 class="sectionContainer">Single Display</h2>
		<div class="sectionContainer">
		
		
				<!--
					Single view of mininews item:
				-->
				<div class="tx-mininews-pi1-singleView" style="margin-top: 5px;">
						
					<p class="tx-mininews-pi1-singleViewField-datetime">29-12-03 18:15</p>
					<h2>The first human being on the surface of Mars!</h2>
					<p class="tx-mininews-pi1-singleViewField-teaser">4am the first man set his foot on the planet Mars some million kilometers from Earth...</p>
					<div class="tx-mininews-pi1-singleViewField-bodytext">
						<p class="bodytext">Filii Ham Chus et Mesraim Phut et Chanaan filii autem Chus Saba et Evila Sabatha et Rechma et Sabathaca porro filii Rechma Saba et Dadan Chus autem genuit Nemrod iste coepit esse potens in terra Mesraim vero genuit Ludim et Anamim et Laabim et Nepthuim Phethrosim quoque et Chasluim de quibus egressi sunt Philisthim et.</p>
						<p class="bodytext">Capthurim Chanaan vero genuit Sidonem primogenitum et Heth Iebuseum quoque et Amorreum et Gergeseum Evheumque et Aruceum et Asineum Aradium quoque et Samareum et Ematheum filii Sem Aelam et Assur et Arfaxad et Lud et Aram et Us et Hul et Gothor et Mosoch Arfaxad autem genuit Sala qui et ipse genuit Heber porro Heber nati sunt duo filii nomen uni Phaleg quia in diebus eius divisa est terra et nomen fratris eius Iectan Iectan autem genuit Helmodad et Saleph et Asermoth et Iare Aduram quoque et Uzal et Decla Ebal etiam et Abimahel et Saba necnon et Ophir et Evila et Iobab omnes isti filii Iectan Sem Arfaxad Sale.</p>
					</div>
				
				</div>
				<hr />
		
				<p><a href="#">Back</a></p>				
		</div>

		
		
		
		
		<!--
			FRONTPAGE DISPLAY
		-->
		<h2 class="sectionContainer">Frontpage Teaser</h2>
		<div class="sectionContainer">
		
		
				<!--
					Frontpage listing of mininews:
				-->
				<div class="tx-mininews-pi1-fp_listrow" style="margin-top: 5px;">
					<p class="tx-mininews-pi1-fp_listrowField-datetime">29-12-03 18:15</p>
					<p class="tx-mininews-pi1-fp_listrowField-title">The first human being on the surface of Mars!</p>
					<p class="tx-mininews-pi1-fp_listrowField-teaser"><span>4am the first man set his foot on the planet Ma... </span><a href="#"><img src="../res/more.gif" class="absmiddle" alt="" /></a></p>
				</div>
				<div class="tx-mininews-pi1-fp_listrow" style="margin-top: 5px;">
					<p class="tx-mininews-pi1-fp_listrowField-datetime">29-12-03 18:15</p>
					<p class="tx-mininews-pi1-fp_listrowField-title">The first human being on the surface of Mars!</p>
					<p class="tx-mininews-pi1-fp_listrowField-teaser"><span>4am the first man set his foot on the planet Ma... </span><a href="#"><img src="../res/more.gif" class="absmiddle" alt="" /></a></p>
				</div>
				<div class="tx-mininews-pi1-fp_listrow" style="margin-top: 5px;">
					<p class="tx-mininews-pi1-fp_listrowField-datetime">29-12-03 18:15</p>
					<p class="tx-mininews-pi1-fp_listrowField-title">The first human being on the surface of Mars!</p>
					<p class="tx-mininews-pi1-fp_listrowField-teaser"><span>4am the first man set his foot on the planet Ma... </span><a href="#"><img src="../res/more.gif" class="absmiddle" alt="" /></a></p>
				</div>


		</div>		

	</div>
</body>
</html>